
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
</head>
<body>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Room Type</th>
            <th>Bed Number</th>
            <th>Description</th>
            <th>Price</th>
            <th>availability</th>
        </tr>
    </thead>
    <tbody *ngFor="let room of room_details">
        <tr>
            <td>{{room.id}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.bedNo}}</td>
            <td>{{room.description}}</td>
            <td>{{room.price}}</td>
            <td>{{room.mode}}</td>
        </tr>
        
    </tbody>
</table>
<button [routerLink]="['/room_book']">book room</button>
<router-outlet></router-outlet>

</body>
</html>

    
</body>
</html>